.row {
  margin: 20px 0;
  color: white;
}

.row h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  padding-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  gap: 10px;
  scroll-behavior: smooth;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  max-height: 120px;
  min-width: 80px;
  object-fit: contain;
  flex-shrink: 0;
  transition: transform 0.45s;
  cursor: pointer;
  border-radius: 4px;
 
  
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
/* .row {
  margin: 20px 0;
  color: white;
}

.row h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  padding-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  gap: 10px;
  scroll-behavior: smooth;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  max-height: 120px;
  min-width: 80px;
  object-fit: contain;
  flex-shrink: 0;
  transition: transform 0.45s;
  cursor: pointer;
  border-radius: 4px;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_posterLarge {
  max-height: 250px;
} */

/* Video container - reduce padding */
/* .row > div:last-child {
  padding: 10px 20px;
} */